.leaflet-routing-container {
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    width: 300px;
    color: black;

}

.leaflet-routing-container input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.leaflet-routing-add-waypoint {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px 0;
    color: black;
}

.leaflet-routing-geocoders {
    margin-bottom: 10px;
}